.footer {
  background-color: #2c2c2c;
  color: white;
  text-align: center;
  padding: 30px;

}
.footer-top {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Centrerad titel under */
.footer-title {
  text-align: center;
  margin-top: 16px;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
}

.footer-line {
  border-top: 2px solid #ffffff;
  width: 100%;
  margin-bottom: 20px;
  position: relative; /* katten positioneras relativt denna */
  padding-top: 20px;  /* skapar luft ovanför linjen */
}

.footer-logo {
  width: 80px;
  height: auto;
  opacity: 0.9;
  position: absolute;
  top: -60px;     /* justera tills tassarna ligger perfekt */
  left: 20px;     /* flyttar katten till vänster */
}